<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
 
 <servlet>
 	<display-name>HomePage</display-name>
 	<servlet-name>HomePage</servlet-name>
 	<servlet-class>www.com.org.HomePage</servlet-class>
 </servlet>

 <servlet-mapping>
  <servlet-name>HomePage</servlet-name>
  <url-pattern>/HomePage</url-pattern>
 </servlet-mapping>


 <servlet>
 <display-name>LoginPage</display-name>
 <servlet-name>LoginPage</servlet-name>
 <servlet-class>www.com.org.LoginPage</servlet-class>
 </servlet>

 <servlet-mapping>
 <servlet-name>LoginPage</servlet-name>
 <url-pattern>/LoginPage</url-pattern>
 </servlet-mapping>


 <servlet>
	<display-name>RegisterPage</display-name>
 	<servlet-name>RegisterPage</servlet-name>
 	<servlet-class>www.com.org.RegisterPage</servlet-class>
 </servlet>

 <servlet-mapping>
 	<servlet-name>RegisterPage</servlet-name>
 	<url-pattern>/RegisterPage</url-pattern>
 </servlet-mapping>


<servlet>

<display-name>Logout</display-name>
<servlet-name>Logout</servlet-name>
<servlet-class>www.com.org.Logout</servlet-class>

</servlet>



<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>


</web-app>